.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0px;
}

.thumbnail .caption-full {
	padding: 9px;
}

#delete {
 	display: inline;
}

.form {
	width: 30%; 
	margin: 25px auto;
}
.row h1 {
	text-align: center
}
iframe {
	width: 260px;
	height: 400px;
}